@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

/* @keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

body {
  width: 100%;
  padding: 2rem;
  background-color: lightgreen;
  font-family: sans-serif;
  text-align: center;
}

.play-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'dealer dealer dealer dealer'
    'player3 player2 player1 player0'
    'io-area io-area io-area io-area';
  justify-items: center;
}

h1 {
  text-align: center;
}

header {
  grid-area: header;
}

.dealer-area {
  grid-area: dealer;
}

.player0-area {
  grid-area: player0;
}

.player1-area {
  grid-area: player1;
}

.player2-area {
  grid-area: player2;
}

.player3-area {
  grid-area: player3;
}

.io-area {
  grid-area: io-area;
}

.hand {
}

.card {
  width: 70px;
  /* animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}
